<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles.css">
    <title>App Presupuesto Personal</title>
</head>

<body>

    <main>

        <h1>Alkemy Full Stack Challenge</h1>

        <form action="/" method="POST">

            <label for="concepto" class="input">Concepto
                <input type="text" id="concepto" name="concepto" class="input">
            </label>

            <label for="monto" class="input">Monto
                <input type="number" id="monto" name="monto" class="input">
            </label>

            <label for="fecha" class="input">Fecha
                <input type="date" id="fecha" name="fecha" class="input">
            </label>

            <label for="tipo" class="input">Tipo
                <select name="tipo" id="tipo" class="input">
                    <option value="Ingreso">Ingreso</option>
                    <option value="Egreso">Egreso</option>
                </select>
            </label>

            <input type="submit" class="button" value="Enviar">

        </form>

        <h2>Listado de operaciones:</h2>

        <ul class="list">
            <% for (let i=0; i < totalData.length; i++){ %>
                <li>
                    <p>
                        <%= totalData[i].concepto%> - $ <%=totalData[i].monto%> - <%=totalData[i].tipo%>
                    </p>
                </li>
                <% } %>
        </ul>

    </main>

</body>

</html>