* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 1.5rem
}

body {
    font-family: 'Roboto', sans-serif;
    color: teal;
    background-color: aliceblue;
}

h1, h2 {
    display: block;
    text-align: center;
    margin: auto;
    max-width: 80%;
    padding: 1rem;
    border: 1px red solid;
}

.input {
    display: block;
    margin: auto;
    border: 1px red solid;
    max-width: 80%;
    padding: 0.5rem;
    text-decoration: none;
    cursor: pointer;
    border-radius: 8px;
}

.button {
    display: block;
    margin: auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
    border: 1px red solid;
    max-width: 80%;
    padding: 0.5rem;
    text-decoration: none;
    cursor: pointer;
    background-color: bisque;
    border-radius: 8px;
}

.list {
    text-align: center;
    padding: 0.5rem;
}

li {
    margin: 0.5rem;
    list-style-type: none;
    border: 1px red solid;
}